{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "filenames",
    "react"
  ],
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["./"]
      }
    }
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "class-methods-use-this": "off",
    "curly": ["error", "all"],
    "max-len": ["error", 120],
    "no-console": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-process-env": "error",
    "no-restricted-imports": ["error", {
        "patterns": ["./*", "../*"]
    }],
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "variables": true, "functions": false, "classes": true }],
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "filenames/match-regex": ["error", "^[a-z0-9.-]+$", true],
    "react/jsx-filename-extension": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-wrap-multilines": ["error", {
      "declaration": true,
      "assignment": true,
      "return": true,
      "arrow": true
    }],
    "react/jsx-indent": ["error", 2],
    "react/jsx-curly-spacing": ["error", { "attributes": { "when": "never" }, "children": { "when": "always" } }]
  },
  "overrides": [
    {
      "files": ["*.test.js", "test-utils/**/*", "**/__mocks__/*.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["src/client/**/*.js"],
      "env": {
        "browser": true
      }
    },
    {
      "files": ["webpack-config/*.js", "src/development/*.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "no-console": "off"
      }
    }
  ]
}
